.mainpage-container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .radio-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    width: 350px;
    gap: 3rem;

    .radio-text-container {
      flex: 1;
      p {
        font-family: "Courier New", Courier, monospace;
        background: repeating-linear-gradient(
          to right,
          #a2682a 0%,
          #be8c3c 8%,
          #be8c3c 18%,
          #d3b15f 27%,
          #faf0a0 35%,
          #ffffc2 40%,
          #faf0a0 50%,
          #d3b15f 58%,
          #be8c3c 67%,
          #b17b32 77%,
          #bb8332 83%,
          #d4a245 88%,
          #e1b453 93%,
          #a4692a 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 1rem;
        font-size: 12px;
      }
    }
  }
}
